*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family:'Century Gothic', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
}

ul {
    margin: 0;
    padding: 0;
}

.logo {
    font-weight:bold;
    font-size: x-large;
    transform: scale(1.01) translateY(-5px);
    padding-top: 8px;
    font-size: 35px;
    color: darkcyan;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color:floralwhite;
    height: 50px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
    font-size: 22px;
}

nav a:hover {
    color: aqua;
    transform: scale(1.01) translateY(-5px);
}

li a {
    text-decoration: none;
}

a {
    color: darkcyan;
    font-weight:bolder;
}

.home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: honeydew;
    grid-gap: 1.5 rem;
    align-items:center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
}


.home .fotoaku img {
    max-width: 100%;
    width: 70%;
    border-radius: 20%;
    height: auto;
    align-items:center;
    float: right;
    justify-content: center;
}

.home .hello h1 {
    font-size: 25px;
    text-transform: uppercase;
    color:darkcyan;
    text-align: center;
    line-height: 1.7;
    font-size: 28px;
}

.home .hello h2 {
    font-size: 30px;
    text-transform: uppercase;
    color:darkcyan;
    text-align: center;
    line-height: 1.7;
    font-size: 35px;
}

.home .hello h3 {
    font-size: 25px;
    text-transform:lowercase;
    color:gold;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 1.7;
    font-size: 35px;
}

.home .hello p {
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    color:darkcyan;
    padding: 1rem, 0;
    text-align:justify;
    line-height: 1.7;
}

section {
    padding: 20px 10%;
    position: relative;
    background-color: rgba(245, 245, 226, 1);
}

.education {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    background-color:honeydew;
}

.graduation img {
    max-width: 100%;
    width: 350px;
    height: auto;
}

.edu h5 {
    font-weight: 600;
    font-size: x-large;
    line-height: 1.7;
    color:darkcyan;

}

.edu h6 {
    font-weight: 600;
    font-size: x-large;
    line-height: 1.7;
    color:darkcyan;
}

.edu h7 {
    font-weight: 600;
    font-size: x-large;
    line-height: 1.7;
    color:darkcyan;
}

.edu h8 {
    font-weight: 600;
    font-size: x-large;
    line-height: 1.7;
    color:darkcyan;
}

.education .edu li {
    list-style-type: circle;
    display:list-item;
    color:darkcyan;
}

.project {
    background-color:honeydew;
}

.heading {
    text-align: center;
}

.heading h9 {
    font-weight: 600;
    line-height: 1.8;
    font-size: x-large;
    color: darkcyan;
}

.heading p {
    font-size: large;
    line-height: 1.8;
    color: darkcyan;
    font-weight: 300;
}

.gambar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.gambar {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gambar-img img {
    width: 220px;
    height: 220px;
    border-radius: 40px;
}

.gambar h10 {
    font-size: large;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    color: darkcyan;
}

.heading h12 {
    font-weight: 600;
    line-height: 1.8;
    font-size: x-large;
    color: darkcyan;
}

.heading p {
    font-size: large;
    line-height: 1.8;
    color:darkcyan;
    font-weight: 300;
    padding-top: 30px;
}

.gambar-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    justify-content: center;
    grid-gap: 1.5rem;
}

.gambar2 {
    position:relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gambar-img2 img {
    width: 220px;
    height: 220px;
    border-radius: 40px;
}

.gambar2 h11 {
    font-size: large;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    color: darkcyan;
}

.text2 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: midnightblue;
    font-size: 35px;
}

.text2 h14 {
    text-align: center;
    font-weight: bold;
    font-size:medium;
    color: midnightblue;
}

.text1 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: midnightblue;
    font-size: 35px;
}

.text3 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: midnightblue;
    font-size: 35px;
}

.project2 {
    background-color: honeydew;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: honeydew;
}

.contact-text h15 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
}

.contact-text h17 {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
    color: gold;
}

.contact-text h16 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
}

.contact-text p {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 2rem;
    color: darkcyan;
}

.contact-list {
    max-width: 300px;
    line-height: 30px;
    padding-left: 100px;
}

.contact-list li {
    margin-right: 50px;
}

.contact-list li a {
    font-weight: bold;
    color: darkcyan;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: aqua;
}

.form {
  background-color: honeydew;
}

.form .contact-form form input, form textarea {
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 25px;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.last-text p {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: darkcyan;
}

.icon {
    height: 100px;
    background-color: rgba(245, 245, 226, 1);
}

.icon .contact-icon {
    margin-right: 410px;
    margin-left: 410px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    transform: scale(1.01) translateY(-5px);
}
